spring:
  application:
    name: notification-service
  config:
    import: "optional:configserver:http://localhost:8888"

  mail:
    host: smtp.mail.ru
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true