spring:
  application:
    name: user-service
  config:
    import: "optional:configserver:http://config-server:8888"
  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: true
      retry:
        initial-interval: 10000
        max-attempts: 60
        max-interval: 20000
        multiplier: 1.1